GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3003
JWT_SECRET=

# PostgreSQL connection string used for migrations
DIRECT_URL="postgresql://postgres:[DB_PASSWORD]@db.[DB_LINK].supabase.co:5432/postgres"

# PostgreSQL connection string with pgBouncer config — used by Prisma Client
DATABASE_URL="postgres://postgres:[DB_PASSWORD]@db.[DB_LINK].supabase.co:6543/postgres?pgbouncer=true"

# OpenAi
OPENAI_API_KEY=

# Pinecone
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=

# AWS
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Deepgram
DEEPGRAM_API_KEY=
DEEPGRAM_PROJECT_ID=